.courseMenuDate{
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.date{
    background: #fff;
    height: 20px;
    width: 150px;
    border: 1px solid black;
    margin: 0px 5px;
    text-align: center;
    line-height: 20px;
    color: #000;
}

.arrow{
    width: 20px;
    left: 20px;
    background: #a29c48;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    transition: .3s;
    color: #FFF;
}

.arrow.disable{
    background: #6c6f6c;
    transition: .3s;
    color: #FFF;
}

.arrow.disable:hover{
    cursor: default;
    background: #6c6f6c;
    color: #FFF;
}

.arrow:hover{
    cursor: pointer;
    background: #d6d900;
    color: #000;
}

.disable{
    cursor: auto;
    background: #ccc;
}
