.courseItems{
    display: flex;
    justify-content: center;
}

.nameOfCurrency{
    height: 30px;
    width: 300px;
    line-height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 0 3px 3px 0;
}

.courseItems:nth-child(odd) .nameOfCurrency{
    background-color: #ccc;
}
.courseItems:nth-child(even) .nameOfCurrency{
    /*background-color: #fcf094;*/
}

.designationOfCurrency{
    height: 30px;
    width: 100px;
    line-height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.courseItems:nth-child(even) .designationOfCurrency{
    background-color: #ccc;
}

.rateOfCurrency{
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.courseItems:nth-child(odd) .rateOfCurrency{
    background-color: #ccc;
}

.change{
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 3px 0 0 3px;
}
.green{
   color: #09aa00;
}

.red{
    color: red;
}

.courseItems:nth-child(even) .change{
    background-color: #ccc;
}
