.courseItems{
    display: flex;
    justify-content: center;
}

.nameOfCurrency{
    height: 30px;
    width: 300px;
    line-height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 0 3px 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courseItems:nth-child(odd) .nameOfCurrency{
    background-color: #ccc;
}
.courseItems:nth-child(even) .nameOfCurrency{
    /*background-color: #fcf094;*/
}

.designationOfCurrency{
    height: 30px;
    width: 100px;
    line-height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.nameOfCurrencyButton{
    background-color: darkred;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.nameOfCurrencyButton a{
    text-decoration: none;
    color: #fff;
}

.courseItems:nth-child(even) .designationOfCurrency{
    background-color: #ccc;
}

.rateOfCurrency{
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.courseItems:nth-child(odd) .rateOfCurrency{
    background-color: #ccc;
}

.change{
    height: 30px;
    width: 120px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px 0 0 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.green{
   color: #09aa00;
}

.red{
    color: red;
}

.courseItems:nth-child(even) .change{
    background-color: #ccc;
}

.change .icon {
    height: 30px;
    min-width: 25px;
    position: relative;
}
.change .icon.red:after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    content: "\f01a";
    font-size: 25px;
    color: red;
}

.change .icon.green:after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    content: "\f01b";
    font-size: 25px;
    color: #00b400;
}

.number{
      line-height: 30px;
}


